ORIGINLENS_ALLOWED_ORIGINS=chrome-extension://YOUR_EXTENSION_ID,edge-extension://YOUR_EXTENSION_ID,http://127.0.0.1
ORIGINLENS_ENGINE_MODE=heuristic
ORIGINLENS_DEFAULT_POLICY=warn
ORIGINLENS_VIDEO_JOB_POLL_SECONDS=1.5
ORIGINLENS_MODEL_PATH=models/originlens-image-detector.onnx
ORIGINLENS_VIDEO_SAMPLE_COUNT=5
ORIGINLENS_FFMPEG_PATH=C:\Users\YOUR_USER\AppData\Local\Microsoft\WinGet\Packages\Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe\ffmpeg-8.1.2-full_build\bin\ffmpeg.exe
